*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap');

:root{
  --primary: #606c38;
  --secondary: #dda15e;
  --darkgreen: #283618;
  --fontColor: #fefae0;
}


body {
  color: var(--fontColor);
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
}

ul{
  list-style-type: none;
}

a {
  text-decoration: none;
  columns: #fff;
}

.primary-color{
  color: var(--primary);
}

.button{
  width: 100;
  padding: 8px 0; 
  border-radius: 1px solid var(--fontColor);
  background-color: var(--primary);
  color: var(--fontColor);
  cursor: pointer; 
}

.button:hover{
  background-color: var(--secondary);
    color: var(--fontColor);
}



